a { color: green; text-decoration: none; cursor: pointer; }
a:visited { color: green; }
a:hover { text-decoration: underline; }
body { font-family: Georgia; color: #333; background: #ddd; margin: 0; padding: 0; text-align: center; }
article { width: 540px; background: white; text-align: left; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 25px; padding: 50px; border-radius: 10px; box-shadow: 0 0 10px #000; }
header * { margin: 0; padding: 0; font-weight: normal; }
header div { float: left; }
header div h1 { font-size: 50px; margin-top: 10px; }
header div h1 small { }
header div h2 { font-size: 25px; }
header aside { float: right; }
header aside section { float: left; margin-top: 10px; text-align: right; line-height: 14px; }
header aside h1 { font-size: 12px; }
header aside h1 small { font-size: 12px; display: block; }
header aside h2 { font-size: 12px; font-weight: bold; }
header nav { clear: both; text-align: center; width: 530px; margin-left: auto; margin-right: auto; padding-top: 20px; padding-bottom: 20px; }
header nav ul { list-style: none; }
header nav ul li { display: inline; margin-left: 10px; margin-right: 10px; }
article section { clear: both; line-height: 30px; }
label { background-color: #5da423; border-radius: 1000px; box-sizing: border-box; color: white; display: inline; font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif; font-size: 12px; font-weight: normal; line-height: 12px; margin: 0; padding: 1px 7px 1px 7px; text-align: center; text-decoration: none; white-space: nowrap; width: auto; }